.box {
    margin: 70px;
    padding: 70px;
    box-shadow: 10px 10px 54px 0px rgba(0,0,0,0.24);
    border-radius: 30px;
    background-color: white;
    color: #010008;
    box-shadow: 10px 10px 54px 0px black;
    transition: all 1s ease;
    
}

.box:hover {
    margin: 70px;
    padding: 70px;
    box-shadow: 0px 0px 127px 4px rgba(47,47,69,1);
    border-radius: 30px;
    transform: scale(1.05);
    transition: all 1s ease;
}


.card {
    display: flex;
    justify-content: center;
    margin: 0%;
    text-align: center;
    background-color: #010008;
    color: white;
    padding-bottom: 1%;
}

@media screen and (max-width: 700px) {
    .box {
        display: flex;
        flex-direction: column;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
  }